In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [3]:
import sys
sys.path.append('..')
import src.text as text
from src.text import tokenizer
from src.data import util

import pandas as pd

In [4]:
df = pd.read_csv('bibles.csv', index_col=0)

In [5]:
df.head(5)

,book,chapter,language,language_wals_code,versicle_number,text
0,REV,12,ANCIENT_GREEK,[grc],1,"Καὶ σημεῖον μέγα ὤφθη ἐν τῷ οὐρανῷ, γυνὴ περιβ..."
1,2CO,7,ANCIENT_GREEK,[grc],1,"ταύτας οὖν ἔχοντες τὰς ἐπαγγελίας, ἀγαπητοί, κ..."
2,REV,19,ANCIENT_GREEK,[grc],1,Μετὰ ταῦτα ἤκουσα ὡς φωνὴν μεγάλην ὄχλου πολλο...
3,MRK,11,ANCIENT_GREEK,[grc],1,Καὶ ὅτε ἐγγίζουσιν εἰς Ἱεροσόλυμα εἰς Βηθφαγὴ ...
4,ROM,3,ANCIENT_GREEK,[grc],1,"Τί οὖν τὸ περισσὸν τοῦ Ἰουδαίου, ἢ τίς ἡ ὠφέλε..."

In [6]:
d = util.by_field(df, 'language')

In [7]:
d['ANCIENT_GREEK'].columns

Index(['book', 'chapter', 'language_wals_code', 'versicle_number', 'text'], dtype='object')

In [8]:
len(d['ANCIENT_GREEK'])

7940

In [9]:
len(d['ENGLISH'])

7942

In [11]:
d['ENGLISH'].columns

Index(['book', 'chapter', 'language_wals_code', 'versicle_number', 'text'], dtype='object')

In [13]:
util.common(df)

     book  chapter  versicle_number
0     MAT        1               18
1     MAT        1               19
2     MAT        1               20
3     MAT        1               21
4     MAT        2                3
...   ...      ...              ...
2580  REV       22               15
2581  REV       22               16
2582  REV       22               17
2583  REV       22               20
2584  REV       22               21

[2585 rows x 3 columns]

In [16]:
util.lcm(df)

     book  chapter  versicle_number
0     MAT        1               18
1     MAT        1               19
2     MAT        1               20
3     MAT        1               21
4     MAT        2                3
...   ...      ...              ...
2580  REV       22               15
2581  REV       22               16
2582  REV       22               17
2583  REV       22               20
2584  REV       22               21

[2585 rows x 3 columns]