In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [3]:
from math import isnan
from pathlib import Path
import re
import pandas as pd
import nltk

import sys
sys.path.append('..')
from src.table import Table, Key
from src.data.loader import ExcelLoader
from src.code.wals import language_to_wals_code
import src.util as util

In [4]:
multilingual = Path('../dataset/aligned_verses_spreadsheets/')
greek = Path('../dataset/Ancient_Greek')
excelloader = ExcelLoader(multilingual, greek)
table = Table(excelloader, language_to_wals_code)
table.build()

In [5]:
table = util.apply_fixes(table)

deleting titles from non greek
incrementing greek verses
ensuring versicles are strings
removing spaces from start and end
ensuring versicles end with punctuation
removing versicle number in non greek
fixing versicle order

In [6]:
for i, (k, v) in enumerate(table.iterfix()):
    print(i, k)
    if i > 5: break

0 Key(book='REV', chap='REV.12', lang='ANCIENT_GREEK', vers=1)
1 Key(book='2CO', chap='2CO.7', lang='ANCIENT_GREEK', vers=1)
2 Key(book='REV', chap='REV.19', lang='ANCIENT_GREEK', vers=1)
3 Key(book='MRK', chap='MRK.11', lang='ANCIENT_GREEK', vers=1)
4 Key(book='ROM', chap='ROM.3', lang='ANCIENT_GREEK', vers=1)
5 Key(book='MAT', chap='MAT.19', lang='ANCIENT_GREEK', vers=1)
6 Key(book='ACT', chap='ACT.4', lang='ANCIENT_GREEK', vers=1)

In [7]:
import pandas as pd

In [14]:
def table_to_df(table):
    cols = dict(book=[], chapter=[], language=[], language_wals_code=[], versicle_number=[], text=[])
    for k, v in table.iterfix():
        cols['book'].append(k.book)
        cols['chapter'].append(int(k.chap[k.chap.find('.')+1:]))
        cols['language'].append(k.lang)
        cols['language_wals_code'].append(language_to_wals_code[k.lang])
        cols['versicle_number'].append(k.vers)
        cols['text'].append(v)
    return pd.DataFrame(data=cols)

In [15]:
df = table_to_df(table)

In [20]:
df.to_csv('bibles.csv')

In [21]:
df

,book,chapter,language,language_wals_code,versicle_number,text
0,REV,12,ANCIENT_GREEK,[grc],1,"Καὶ σημεῖον μέγα ὤφθη ἐν τῷ οὐρανῷ, γυνὴ περιβ..."
1,2CO,7,ANCIENT_GREEK,[grc],1,"ταύτας οὖν ἔχοντες τὰς ἐπαγγελίας, ἀγαπητοί, κ..."
2,REV,19,ANCIENT_GREEK,[grc],1,Μετὰ ταῦτα ἤκουσα ὡς φωνὴν μεγάλην ὄχλου πολλο...
3,MRK,11,ANCIENT_GREEK,[grc],1,Καὶ ὅτε ἐγγίζουσιν εἰς Ἱεροσόλυμα εἰς Βηθφαγὴ ...
4,ROM,3,ANCIENT_GREEK,[grc],1,"Τί οὖν τὸ περισσὸν τοῦ Ἰουδαίου, ἢ τίς ἡ ὠφέλε..."
...,...,...,...,...,...,...
435982,3JN,1,YANOMAMI,[guu],13,Cafä nija ya tä a̦ wäyäbä ya tä a̦ bluca ma ta...
435983,3JN,1,YANOMAMI,[guu],14,"Bäfäcö dablayou fa jaödaonö, dodijidawä bäfäcö..."
435984,3JN,1,YANOMAMI,[guu],15,Bei. Yai Bada tänö showadi wa bayeliblabä. Wa ...
435985,MAT,21,GERMANY,ger,44,Und als die Hohenpriester und die Pharisäer se...
435986,REV,12,GERMANY,ger,18,Und ich stellte mich auf den Sand des Meeres.